[user]
  name = James Burnside
  email = 2684369+JamesBurnside@users.noreply.github.com
  username = JamesBurnside
[alias]
  st = status
  dad = !curl https://icanhazdadjoke.com/ && git add
  br = branch --sort=-committerdate
  co = checkout
  cob = checkout -b
  ci = commit
  cim = commit -m
  ca = commit --amend --no-edit
  cp = cherry-pick
  pl = pull
  pu = push
  pup = !git push --set-upstream origin $(git symbolic-ref --short HEAD)
  last = log -1 HEAD
  fe = fetch --all
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  ld = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph
  ls = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
[core]
  editor = code --wait
[color]
  diff = auto
  status = auto
  branch = auto
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
